/* Wonolo-yellow: #FFDC00 */

body {
	color: black;
}

.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: black;
}

.Welcome {
	background-image: url("../images/wonoloLanding.jpg");
	background-size: cover; 
	height: 600px;
	border: solid black;
}

.About {
	padding-top: 0px;
  height: 100%;
}

.padding {
	padding: 20px;
}

.carousel {
  width: 40%;
}

.iconFacts {
  padding-top: 15px;
  width: 100%;
  vertical-align: middle;
}

.businessReviews {
  float: right;
}

.wonoloerReviews {
	float: left;
}

.For {
  background-color: white;
  height: 300px;
  text-align: center;
  width: 100%;
  margin: 0px;
  display: inline-block;
  overflow: hidden;
}

.gap {
  width: 100%;
  height: 3px;
  background: black;
  margin-top: -3px;
}

.jobSeakers, .Businesses {
	width: 60%;
	text-align: center;
}

.jobSeakers {
	border-left: solid black;
	float: right;
}

.Businesses {
	border-right: solid black; 
  float: left;
}

.BigLogo {
	margin: auto;
	display: block;
	left: 0px;
	top: 0px;
}

.inWelcome {
  padding-top: 30px;
  display: block;
  margin: auto;
  height: 90%;
  text-align: center;
}

.splashButton {
	background: #FFDC00;
  border: none;
  margin: 40px;
  width: 19%;
  height: 15%;
  font-size: xx-large;
  box-shadow: 1px 1px 15px black;
  color: black;
}

.jumbotron {
	margin: 0px;
}

.navbar {
  position: relative;
  min-height: 80px;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-color: black;
}