/* 
	Wonolo-yellow: #FFDC00 
	Wonolo-yellow2: #F7D91F
*/

body {
	color: black;
}

.SocialBar {
	vertical-align: bottom;
}
.Summary {
	margin-bottom: 10px;
}

.Link, .Link:hover, .Link:active {
	color: inherit;
	text-decoration: none;
}

.App {
	height: 100%;
	width: 100%;
}

.profHeaders {
  width: 30%;
  display: inline-block;
}

.Profile {
	height: 100%;
}

.Stars {
	width: 150px;
	margin: 0px 0px 0px 25px;
	display: block;
}

.banner {
	background-color: #FFDC00;
	height: 150px;
	border-bottom: solid 2px black;
}

.innerProfile {
	padding: 0px 15% 5% 15%;
}

.profileBar {
	height: 200px;
	width: 90%;
	margin-top: -200px;
	margin-left: 220px;
}

 td {
	height: 297px;
	width: 340px;
	border: solid black;
 }

 .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 3px solid black;
}

.yellow {
	background: #FFDC00;
	border: solid #FFDC00 1px;
	color: black;
	border: none;
}

.yellow:hover, .yellow:active, .yellow:visited {
	background: #F7D91F !important;
	color: black;
	text-decoration: none;
}

.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: black;
}

.Welcome {
	background-image: url("../images/wonoloLanding.jpg");
	background-size: cover; 
	height: 600px;
	border: solid black;
}

.SearchJobs {
	background-image: url("../images/boxes.jpg");
	background-size: cover;
	height: 350px;
	border-bottom: solid 3px black;
}

.About {
	padding-top: 0px;
  height: 100%;
}

.padding {
	padding: 20px;
}

.carousel {
  width: 40%;
  height: 100%;
}

.carousel.slide {
  background: #FFDC00;
}

.iconFacts {
  padding-top: 15px;
  width: 100%;
  vertical-align: middle;
}

.businessReviews {
  float: right;
}

.wonoloerReviews {
	float: left;
}

.For {
  background-color: white;
  height: 300px;
  text-align: center;
  width: 100%;
  margin: 0px;
  display: inline-block;
  overflow: hidden;
}

.gap {
  width: 100%;
  height: 3px;
  background: black;
  margin-top: -3px;
}

.jobSeakers, .Businesses {
	width: 60%;
	text-align: center;
}

.jobSeakers {
	border-left: solid black;
	float: right;
}

.Businesses {
	border-right: solid black; 
  float: left;
}

.BigLogo {
	margin: auto;
	display: block;
	left: 0px;
	top: 0px;
}

.inWelcome {
  padding-top: 70px;
  display: block;
  margin: auto;
  height: 90%;
  text-align: center;
}

.splashButton {
  background: #FFDC00;
  border: solid black 1px;
  margin: 40px;
  width: 15%;
  height: 15%;
  font-size: xx-large;
  color: black;
  box-shadow: 1px 1px 1px black;
}

.splashButton:hover, .splashButton:active  {
  background: black;
  border: solid black 1px;
  margin: 40px;
  width: 15%;
  height: 15%;
  font-size: xx-large;
  color: #FFDC00;
}

.jumbotron {
	margin: 0px;
}

.SearchJobs h1 {
    font-size: 150px;
    color: white;
}

.navbar {
  position: relative;
  min-height: 80px;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-color: black;
}

.BottomBar {
	height: 200px;
	background: black;
	display: block;
}

.JobsView {
	height: 100%;
	text-align: center;
	display: block;
}

.Grid {
  width: 80%;
  margin: auto;
  padding: 30px;
}

.reviewImg {
	background-size: contain;
}

.Tile {
  vertical-align: middle;
  text-align: center;
  padding: 25% 0px 25% 0px;
  top: 0px;
  left: 0px;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.Tile:hover {
	text-decoration: none;
	font-weight: bolder;
}

td:hover {
	background: #FFDC00;
	cursor: pointer;
	border: solid black;
	color: black;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 15px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid darkgrey;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: black;
    background-color: #F7D91F;
    border-color: darkgrey;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: black;
    cursor: not-allowed;
    background-color: #fff;
    border-color: darkgrey;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: black;
    cursor: default;
    background: #F7D91F;
    border-color: darkgrey;
}


.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
    background: #F7D91F;
    color: black;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #F7D91F;
    border-color: #8c8c8c;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: black;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: black;
    text-decoration: none;
    background: #F7D91F;
    font-weight: bold;
}

.img-circle {
	height: 200px;
	border-radius: 50%;
	border: solid;
	position: relative;
	margin-top: -5%;
	display: block;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin: 0px -10% 0px 0%;
}

.social-container {
    width: 60%;
    height: 60%;
}
