html, body, #app, #Home, #Projects, #About, #Contact, .App {
  height: 100%;
  width: 100%;
  text-align: center;
}

body{
  background: url("../images/moya_background_asset.jpg") no-repeat fixed center;
  background-size: cover; 
}

@font-face {
  font-family: typoGraphica;
  src: url("../images/typo_graphica.otf");
}

.smallLogo{
  height: 100px;
  float: left;
  margin-left: 20px;
}

#nav{
  float: right;
  margin-top: 45px;
  font-family: typoGraphica;
  letter-spacing: 0.2em;
  margin-right: 20px;
}

#TopBar{
  height: 120px;
  padding: 10px;
}

.main_content, .bigLogo{
  padding: 50px;
  max-width: 70%;
  margin-top: 7%;
  display: inline-block;
}

.main_content{
  background: #cccccc40;
}

h2{
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  padding: 10px;
  margin-bottom: 60px;
  font-style: italic;
}

.title{
  margin-bottom: 30px;
}

#Anatomy .title{
  width: 35%;
}

#About .title, #Contact .title{
  width: 15%;
}

#Gotal .title{
  width: 60%;
}

p{
  color: #ecebeb;
  font-weight: 100;
  font-family: "Helvetica Neue";
  letter-spacing: 0.1em;
}

.Link{
  color: #7f7f7f;
  margin: 1em;
  font-size: 12px;
}

.Link:hover, .Link:active {
  color: white;
}

a:hover{
  text-decoration: none;
}

#project-list{
  margin-top: 15%;
}

.project-item{
  color: white;
}

.project-item:hover, .project-item:active{
  color: #7f7f7f;
  text-decoration: none;
}

#Copyright{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-style: italic;
  font-size: 12px;
}